.crewInfos{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 40px;

    > div{
        display: flex;
        flex-direction: column;
        gap: 24px;

        > div{
            display: flex;
            flex-direction: column;
            gap: 8px;

            p{
                color: var(--white);
                text-align: center;
            }

            > span{
                color: #ffffff50;
                text-align: center;
            }
        }

        > p{
            height: 164px;
            color: var(--blue-300);
            text-align: center;
        }
    }

    @media (min-width: 767px){
        max-width: 512px;
        margin: 0 auto;

        > div > p{
            height: 117px;
        }
    }
}

.crewImgContainer{
    display: flex;
    justify-content: center;
    position: relative;
    
    img{
        height: 350px;
        -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }

    @media (min-width: 767px){
        img{
            height: 560px;
        }
    }
}