.crewInfos{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 40px;

    > div{
        display: flex;
        flex-direction: column;
        gap: 24px;

        > div{
            display: flex;
            flex-direction: column;
            gap: 8px;

            p{
                color: var(--white);
                text-align: center;
            }

            > span{
                color: #ffffff50;
                text-align: center;
            }
        }

        > p{
            height: 164px;
            color: var(--blue-300);
            text-align: center;
        }
    }

    @media (min-width: 767px){
        max-width: 512px;
        margin: 0 auto;

        > div > p{
            height: 117px;
        }
    }

    @media (min-width: 1024px){
        max-width: 539px;
        height: 100%;
        gap: 40px;
        justify-content: flex-end;

        > div{
            height: 100%;
            justify-content: center;

            > div{
                gap: 16px;

                > p, > span{
                    text-align: start;
                }
            }

            > p{
                text-align: start;
            }
        }
    }
}

.crewImgContainer{
    display: flex;
    justify-content: center;
    position: relative;
    
    img{
        height: 350px;
        -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }

    @media (min-width: 767px){
        img{
            height: 560px;
        }
    }

    @media (min-width: 1024px){
        height: 100%;
        width: 539px;

        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}