.destinationsGallery{
    display: flex;
    flex-direction: column;
    gap: 32px;

    .destinationImgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 26px;

        img{
            width: 150px;
            height: 150px;
        }
    }
 
    .destinationInfos{
        display: flex;
        flex-direction: column;
        gap: 24px;

        .destinationContent{
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: center;

            h2{
                color: var(--white);
            }

            p{
                color: var(--blue-300);
            }
        }

        hr{
            opacity: 0.25;
        }

        .quantitativeInfos{
            display: flex;
            flex-direction: column;
            gap: 24px;

            span{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
                color: var(--blue-300);
                letter-spacing: 2px;

                p{
                    color: var(--white);
                    font-family: 'Bellefair', serif;
                    font-size: 28px;
                }
            }
        }
    }
}