.bgImgContainer{
    position: fixed;
    inset: 0;
    background: url("../../../assets/home/background-home-mobile.jpg") center/cover no-repeat;

    @media (min-width: 767px){
        background: url("../../../assets/home/background-home-tablet.jpg") center/cover no-repeat;
    }

    @media (min-width: 1024px){
        background: url("../../../assets/home/background-home-desktop.jpg") center/cover no-repeat;
    }
}