.homeContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;

    .content{
        text-align: center;

        p{
            color: var(--blue-300);
        }

        h1{
            color: var(--white);
            font-weight: 400;
        }
    }

    @media (min-width: 767px) {
        gap: 66px;
        padding: 128px 40px;

        .content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 512px;

            p:first-child{
                font-size: 28px;
            }

            h1{
                line-height: unset;
            }
        }
    }
}

.exploreCTA{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}