---
import "@styles/global.scss";
import '@fontsource/bellefair';
import '@fontsource/barlow';
import '@fontsource/barlow-condensed';
import styles from "./style.module.scss";
import Header from "@components/header/index.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Space Tourism</title>
	</head>
	<body class={styles.body}>
		<Header pathname={Astro.url.pathname} />
		<slot />
	</body>
</html>
