---
import "@styles/global.scss";
import '@fontsource/bellefair';
// body {
//   font-family: 'Bellefair', serif;
// }
import '@fontsource/barlow';
// body {
//   font-family: 'Barlow', sans-serif;
// }
import '@fontsource/barlow-condensed';
// body {
//   font-family: 'Barlow Condensed', sans-serif;
// }
import styles from "./style.module.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Space Tourism</title>
	</head>
	<body class={styles.body}>
		<slot />
	</body>
</html>
